<!DOCTYPE html>
<html>
<head>
  <title>PracticeCrud</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:notice] %>
<div class="alert alert-success text-center"><%= flash[:notice] %></div>
  <% end %>

<%= yield %>

</body>
</html>
