<h1>All Status Updates!</h1>



<table>

  <thead>
    <tr>
      <th>Status</th>
      <th>User<th>
      <th>Likes!</th>
    </tr>
  </thead>

  <tbody>
    <% @updates.each do |update| %>
    <tr>
      <td><%=link_to update.status, update %></td>
      <td><%= update.user %></td>
      <td><%= pluralize(update.number_of_likes, "like") %><td>
      <td><%= link_to 'Edit', edit_update_path(update) %></td>
      <td><%= link_to 'Delete', update, method: :delete%></td>
    </tr>
    <% end %>
  </tbody>
</table>



<%= link_to "New Update Status", new_update_path %>
