

<h1>Person: <%= @update.user %></h1>
<h2>Status: <%= @update.status %></h2>
<h2>How many likes? <%= if @update.number_of_likes == nil
        "this person is unliked"
      else
        pluralize(@update.number_of_likes, "like")
      end%></h2>


      <%= button_to 'Like', like_path(@update)  %>

<%= link_to "See all status updates", updates_path %><br>
<%= link_to 'Edit Status', edit_update_path %>
